@config "./tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: theme("padding.4");
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: theme("colors.gray.800");
  /* #030037 */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  color: #646cff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.big-container {
  display: flex;
  flex-direction: column;
  gap: theme("gap.4")
}

#tree {
  flex-shrink: 0;
  width: theme("width.96");
  max-width: 100%;
}

#menu {
  display: grid;
  height: fit-content;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: theme("padding.4");
  margin: 0 auto;
}

.grid-item:hover {
  scale: 1.05;
}

@media screen(sm) {
  .big-container {
    flex-direction: row;
  }
}